<!DOCTYPE html>
  <html lang="en">
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>Login & Registration</title>
  <style>
    form{
        margin-left: 200px;
        margin-right: 200px;
    }
    </style>
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">

    <a class="nav-item nav-link" href="{% url 'login'%}">Log In</a>
    <a class="nav-item nav-link" href="{% url 'register'%}">Registration</a>

    </div>
    </div>
    </nav>
    <div class="alert alert-primary" role="alert">
    <h1 style="text-align: center;">Login </h1>
    </div>

    <form action="login" method="POST">
    {% csrf_token %}
        <div class="form-group">
        <label>Email address</label>
        <input type="email" class="form-control" name="email" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted"></small>
        </div>
        <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" name="password">
        </div>

        <button type="submit" class="btn btn-primary">Login</button>
      </form>